<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>お問い合わせ確認</h1>
  <a href="/contacts">お問い合わせ記入に戻る</a>
  <p>お名前:<%= @name %></p>
  <p>メールアドレス:<%= @email %></p>
  <p>内容:<%= @content %></p>
</body>
</html>