<form>
  <h1>お問い合わせ</h1>
  <div>
    お名前<input type="text">
  </div>
  <div>
    メールアドレス<input type="text">
  </div>
  <div>
    お問い合わせ内容
    <textarea cols=40 rows=4></textarea>
  </div>
  <div>
    <input type="submit">
  </div>
</form>